<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="categorynewsletter" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Category Newsletter</label>
            <tab>chilliapple</tab>
            <resource>Chilliapple_Newsletter::categorynewsletter</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Category Newsletter Configuration</label>
                <field id="oid" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OID</label>
                </field> 
                <field id="bcm_uk_news" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>BCM_UK_NEWS</label>
                </field> 
                <field id="customer" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer</label>
                </field> 
                <field id="signup_form" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Black Cat Music - Newsletter Signup Form</label>
                </field> 
            </group>
        </section>
    </system>
</config>