<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <subscriptionnotify>
            <general>
                <active>1</active>
            </general>
            <subscription>
                <allow_guest_subscribe>1</allow_guest_subscribe>
                <confirm>0</confirm>
                <email_sender>general</email_sender>
                <notification_template>subscriptionnotify_subscription_notification_template</notification_template>
            </subscription>
            <sending>
                <set_return_path>0</set_return_path>
            </sending>
        </subscriptionnotify>
    </default>
</config>
