<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="printorderpdf" id="printorderpdf">
            <module name="Chilliapple_PrintOrderPdf"/>
        </route>
    </router>
</config>